RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1
#Redirecionamentos: sem www para com www.
RewriteCond %{HTTP_HOST} ^inforondonia.com.br$
RewriteRule ^/?$ "http\:\/\/www\.inforondonia\.com\.br\/" [R=301,L]
#Redirecionamentos: portalinforondonia.com.br 
RewriteCond %{HTTP_HOST} ^portalinforondonia\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.portalinforondonia\.com\.br$
RewriteRule ^/?$ "http\:\/\/www\.inforondonia\.com\.br" [R=301,L]
#Redirecionamentos: informarondonia.com
RewriteCond %{HTTP_HOST} ^informarondonia\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.informarondonia\.com$
RewriteRule ^/?$ "http\:\/\/www\.inforondonia\.com\.br" [R=301,L]
#Redirecionamentos: inforondonia.com
RewriteCond %{HTTP_HOST} ^inforondonia\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.inforondonia\.com$
RewriteRule ^/?$ "http\:\/\/www\.inforondonia\.com\.br" [R=301,L]